
/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

header > div > nav a:hover {
  color: #668284;
}

nav,
div {
  width: 300px;
  margin: auto;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

main > div > article > section p {
  color: #493736;
}

main > div {
  border: 3px solid #668284;
  padding: 10px;
  background-color: #B9D7D9;
  overflow: hidden;
}
 
